body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width:1400px;
  margin: 0 auto;
}

.title {
  font-size: 18px;
}

.left-column {
  float:left;
  width:180px;
}

ul {
  list-style:none;
}

.right-column {
  width:1200px;
  float:right;
}

.video-player {
  width:800px;
  display:inline-block;
  background:#eee;
  padding:10px;
  border-right: 1px solid #fdf9f9;
  border-bottom: 1px solid #fdf9f9;
}

video {
  width:800px;
}

.video-list {
  margin:0;
  padding:0;
  list-style: none;
}

.video-element {
  float:left;
  cursor:pointer;
  padding: 10px;
}

.video-thumbnail {
  width:200px;
  height:200px;
  display:block;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
}

.comment-list {
  float:right;
  display:inline-block;
  width: 300px;
}

.comment-input {
  width:100%;
  max-width:800px;
  font-weight:lighter;
  text-align: center;
  font-size: 18px;
  padding:5px 1px;
  box-shadow: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #EEE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display:block;
}

.commenter-name {
  width: 100%;
  font-weight:lighter;
  text-align: center;
  padding:5px 1px;
  box-shadow: none;
  border:none;
  font-size: 18px;
  display:block;
}

.comment-submit {
  width:100%;
  font-weight:lighter;
  cursor: pointer;
  background-color:#4488ec;
  color: white;
  margin:0;
  font-size:18px;
  padding:5px 1px;
  border:none;
  box-shadow: none;
  display:block;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
