.container {
  width:1200px;
  margin: 0 auto;
}

.video-player {
  width:800px;
  height:800px;
  background:grey;  
}

.video-list {
  margin:0;
  padding:0;
  list-style: none;
}

.video-element {
  float:left;
  cursor:pointer;
  padding: 10px;
}
